{% autoescape off %}
Je ontvangt deze mail omdat jij (of iemand anders namens jouw email adres) een paswoord reset heeft aangevraagd. 
Het gaat om een MijnHercules account, te vinden op {{ site_name }}.

Ga naar de volgende pagina en geef een nieuw paswoord door:
{% block reset_link %}
{{ protocol }}://{{ domain }}{% url django.contrib.auth.views.password_reset_confirm uidb36=uid, token=token %}
{% endblock %}

Je gebruikersnaam, voor het geval je deze niet meer weet, is als volgt: 
{{ user.username }}

Bedankt voor het gebruiken van MijnHercules!

Het USV Hercules zaalvoetbal bestuur.

{% endautoescape %}