{% extends "base.html" %}

{% block title %}Paswoord reset{% endblock %}

{% block pagetitle %}Paswoord reset{% endblock %}

{% block content %}
<p>Paswoord vergeten of je hebt er nog geen? Voer hier je e-mail adres in, dan mailen we je meteen de instructies om een nieuw paswoord in te stellen.</p>

<form action="" method="post">{% csrf_token %}
 {{ form.email.errors }}
<p><label for="id_email">Email:</label> {{ form.email }} <input type="submit" value="Reset mijn paswoord" /></p>
</form>
{% endblock %}